html {
  line-height: 1.15;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 0px;
  color: #101010;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.menu__heading h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #101010;
}

.menu-part h3 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #353535;
}

p {
  font-size: 1.15rem;
  font-weight: 300;
  letter-spacing: 0;
  color: #000;
}

.location {
  font-size: 1.05rem;
  font-weight: 600;
  color: #353535;
}

.functioning-step__text {
  font-weight: 600;
}

.restaurant-card__desc span {
  font-size: 1.1rem;
}

.food-card__name {
  font-size: 1.1rem;
}
.food-card__desc__info {
  font-size: 0.9rem;
}
.food-card__desc__price {
  font-weight: 600;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  padding-left: 5.3%;
  padding-right: 5.3%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 25px;
  font-size: 1rem;
  letter-spacing: 0.15px;
  color: #ffffff;
  border-radius: 100px;
  background-image: linear-gradient(-3deg, #9356dc 5%, #ff79fa 115%);
  box-shadow: 1px 3px 10px -2px rgba(0, 0, 0, 0.25);
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-image: linear-gradient(-3deg, #9f69e0 0%, #ff8dfb 100%);
  box-shadow: 1px 4px 10px -3px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.btn:hover::before {
  opacity: 1;
}

.heart-svg-inactive {
  fill: none;
  stroke: #010101;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.heart-svg-active {
  fill: url("#gradient-1");
  stroke: url("#gradient-1");
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.heart-svg-container {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
@media (hover: hover) {
  .heart-svg-container:hover .heart-svg-active {
    opacity: 1;
    transform: scale(1);
  }
  .heart-svg-container:hover .heart-svg-inactive {
    opacity: 0;
  }
}

.check-like {
  display: none;
}
.check-like:checked ~ label .heart-svg-active {
  opacity: 1;
  transform: scale(1);
}
.check-like:checked ~ label .heart-svg-inactive {
  opacity: 0;
}

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.header__logo {
  margin: 18px 0 10px;
}
.header__arrow-back {
  position: absolute;
  left: 5.3%;
  top: 40%;
}
.header__arrow-back > i {
  font-size: 1.25rem;
  color: #353535;
}

.banner {
  position: relative;
  z-index: -1;
  height: 33vh;
  width: 100%;
}
.banner > img {
  height: 120%;
  width: 100%;
  object-fit: cover;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 40px;
  padding: 35px 0;
}
.menu__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.menu__heading .heart-svg-container {
  margin-right: 15px;
  top: -1px;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr;
}

.menu-part h3 {
  position: relative;
  margin-bottom: 22px;
}
.menu-part h3::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 40px;
  left: 0;
  bottom: -8px;
  background-color: #99e2d0;
}

.food-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  max-width: 100%;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 1px 3px 15px -3px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  overflow: hidden;
}
.food-card-left {
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.food-card-right {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  background-color: #99e2d0;
  transition: 0.4s ease-in-out;
}
.food-card-right > i {
  font-size: 1.4rem;
  color: #ffffff;
  transition: 0.4s ease-in-out;
}
.food-card__name {
  padding-bottom: 5px;
}
.food-card__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
