html {
  line-height: 1.15;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* -- Reset default properties -- */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* -- Typographies -- */
body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.9rem;
  font-weight: 500;
  letter-spacing: 0px;
  color: #101010;
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
}

.menu__heading h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.75rem;
  font-weight: 500;
  color: #101010;
}

.menu-part h3 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #353535;
}

p {
  font-size: 1.15rem;
  font-weight: 300;
  letter-spacing: 0;
  color: #000;
}

.location > h5 {
  font-size: 1rem;
  font-weight: 700;
  color: #353535;
}

.functioning-step__text {
  font-weight: 700;
}

.restaurant-card__desc span {
  font-size: 1.1rem;
  font-weight: 300;
}

.food-card__desc > h4 {
  font-size: 1.1rem;
}
.food-card__desc > p {
  font-size: 0.95rem;
  font-weight: 400;
}
.food-card__price > span {
  font-size: 0.95rem;
  font-weight: 700;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
  letter-spacing: 0.5px;
}

/* -- Wrapper -- */
.wrapper {
  width: 100%;
  max-width: 1400px;
  padding-left: 5.3vw;
  padding-right: 5.3vw;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
}

/* -- Loader Overlay -- */
.loader {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader-display 3s linear forwards;
}

/* -- Loader Spinner -- */
.loader-spinner {
  display: inline-block;
  width: 90px;
  height: 90px;
  position: relative;
  animation: loader-bounce 3s linear forwards;
}

/* -- Loader Spinner Out -- */
.loader-spinner:after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid;
  border-color: #ff79da transparent #9356dc transparent;
  animation: loader-rotate 2s linear infinite;
}

/* -- Loader Spinner In -- */
.loader-spinner:before {
  content: "";
  display: block;
  position: absolute;
  width: 35%;
  height: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 4px solid;
  border-color: transparent #99e2d0 transparent #99e2d0;
  animation: loader-rotate 2s linear infinite reverse;
}

/* -- Loader Rotate Animation -- */
@keyframes loader-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* -- Loader Bounce Animation -- */
@keyframes loader-bounce {
  0% {
    transform: scale(0);
    animation-timing-function: cubic-bezier(0.49, 0.01, 0.52, 1.99);
  }
  10% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.83, -0.9, 0, 0.99);
  }
  95% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}
/* -- Loader Overlay Display Animation -- */
@keyframes loader-display {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* -- Buttons -- */
.btn {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 185px;
  padding: 0 25px;
  letter-spacing: 0.15px;
  line-height: 1;
  color: #ffffff;
  border-radius: 100px;
  background-image: linear-gradient(-5deg, #9356dc 0%, #ff79fa 100%);
  box-shadow: 1px 3px 10px -2px rgba(0, 0, 0, 0.3);
  /* -- Button overlay for efficient hover transition -- */
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-image: linear-gradient(-3deg, #9f69e0 0%, #ff8dfb 100%);
  box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.2s ease-in-out;
}
.btn:hover::before {
  opacity: 1;
}

/* -- Like button when unliked -- */
.heart-inactive {
  position: absolute;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  width: 80%;
  height: 80%;
}

/* -- Like button when liked -- */
.heart-active {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease-in-out;
  pointer-events: none;
  width: 80%;
  height: 80%;
}

/* -- Like button container -- */
.heart-container {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  transition: 0.2s ease-in-out;
}
@media (hover: hover) {
  .heart-container:hover {
    transform: scale(1.1);
  }
}

/* -- Hidden checkbox for toggle like without JS -- */
.heart-checkbox {
  display: none;
}
.heart-checkbox:checked ~ label .heart-active {
  opacity: 1;
  transform: scale(1);
}
.heart-checkbox:checked ~ label .heart-inactive {
  opacity: 0;
}

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;
}
.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__logo {
  margin: 18px 0 10px;
}
.header__arrow-back {
  position: absolute;
  left: 5.3%;
  top: 40%;
}
.header__arrow-back > i {
  font-size: 1.25rem;
  color: #353535;
}

.footer {
  background-color: #353535;
  color: #ffffff;
  padding: 25px 10px;
}
.footer__logo {
  display: block;
  margin-bottom: 15px;
}
.footer__list > li {
  margin-bottom: 10px;
}
.footer__list > li > i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-right: 10px;
  height: 15px;
  width: 15px;
}
@media (hover: hover) {
  .footer__list > li > a:hover {
    text-decoration: underline;
  }
}

.banner {
  position: relative;
  z-index: -1;
  height: 33vh;
  width: 100%;
}
.banner > img {
  height: 120%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 70%;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 40px;
  padding: 35px 0;
}
.menu__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.menu__heading .heart-svg-container {
  margin-right: 15px;
  top: -1px;
}
.menu > .btn {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 25px 0;
}

.menu-grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (min-width: 1125px) {
  .menu-grid {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 3.5%;
  }
}

.menu-part {
  overflow: hidden;
  padding-left: 5.3%;
  padding-right: 5.3%;
}
.menu-part h3 {
  position: relative;
  margin-bottom: 22px;
  opacity: 0;
  transform: translateY(50%);
  animation: display-anim 0.5s ease-in-out forwards;
}
.menu-part h3::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 40px;
  left: 0;
  bottom: -8px;
  background-color: #99e2d0;
}

.food-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 1px 3px 15px -3px rgba(0, 0, 0, 0.15);
  margin-bottom: 20px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transform: translateY(50%);
  animation: display-anim 0.5s ease-in-out forwards;
}
.food-card__desc {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  padding: 14px 0 12px 12px;
}
.food-card__desc > h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 7px;
}
.food-card__desc > p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.food-card__price {
  align-self: flex-end;
  padding: 12px 20px 12px 15px;
}
.food-card__checkmark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  width: 60px;
  font-size: 1.35rem;
  color: #ffffff;
  background-color: #99e2d0;
  margin-right: -60px;
  transition: 0.4s ease-in-out;
}
.food-card__checkmark > i {
  transform: rotateZ(-240deg);
  line-height: 0;
  transition: 0.3s ease-in-out 0.15s;
}
.food-card:hover .food-card__checkmark {
  margin-right: 0;
}
.food-card:hover i {
  transform: rotateZ(0deg);
}

@keyframes display-anim {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#anim-delay-1 {
  animation-delay: 0.1s;
}

#anim-delay-2 {
  animation-delay: 0.2s;
}

#anim-delay-3 {
  animation-delay: 0.3s;
}

#anim-delay-4 {
  animation-delay: 0.4s;
}

#anim-delay-5 {
  animation-delay: 0.5s;
}

#anim-delay-6 {
  animation-delay: 0.6s;
}

#anim-delay-7 {
  animation-delay: 0.7s;
}

#anim-delay-8 {
  animation-delay: 0.8s;
}

#anim-delay-9 {
  animation-delay: 0.9s;
}

#anim-delay-10 {
  animation-delay: 1s;
}

#anim-delay-11 {
  animation-delay: 1.1s;
}

#anim-delay-12 {
  animation-delay: 1.2s;
}

#anim-delay-13 {
  animation-delay: 1.3s;
}

#anim-delay-14 {
  animation-delay: 1.4s;
}

#anim-delay-15 {
  animation-delay: 1.5s;
}

#anim-delay-16 {
  animation-delay: 1.6s;
}

#anim-delay-17 {
  animation-delay: 1.7s;
}

#anim-delay-18 {
  animation-delay: 1.8s;
}

#anim-delay-19 {
  animation-delay: 1.9s;
}

#anim-delay-20 {
  animation-delay: 2s;
}

/*# sourceMappingURL=restaurant-menu.css.map */
