.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 10;

  &-flex {
    @include flex;
    position: relative;
  }

  &__logo {
    margin: 18px 0 10px;
  }

  &__arrow-back {
    position: absolute;
    left: 5.3%;
    top: 40%;

    & > i {
      font-size: 1.25rem;
      color: $greyDark;
    }
  }
}
