@mixin flex($justify: center, $align: center, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin tablet-only {
  @media screen and (min-width: map-get($breakpoints, tablet)) {
    @content;
  }
}

@mixin laptop-only {
  @media screen and (min-width: map-get($breakpoints, laptop)) {
    @content;
  }
}

@mixin heart-activation {
  & .heart-active {
    opacity: 1;
    transform: scale(1);
  }
  & .heart-inactive {
    opacity: 0;
  }
}
