.btn {
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 185px;
  padding: 0 25px;
  letter-spacing: 0.15px;
  color: $white;
  border-radius: 100px;
  background-image: $gradientBgBtn;
  box-shadow: 1px 3px 10px -2px rgba(0, 0, 0, 0.3);

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    background-image: $gradientBgBtnHover;
    box-shadow: 1px 4px 10px -2px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.2s ease-in-out;
  }

  &:hover::before {
    opacity: 1;
  }
}
