/* -- Like button when unliked -- */
.heart-inactive {
  position: absolute;
  transition: 0.3s ease-in-out;
  pointer-events: none;
  width: 80%;
  height: 80%;
}

/* -- Like button when liked -- */
.heart-active {
  position: absolute;
  opacity: 0;
  transform: scale(0);
  transition: 0.3s ease-in-out;
  pointer-events: none;
  width: 80%;
  height: 80%;
}

/* -- Like button container -- */
.heart-container {
  position: relative;
  z-index: 5;
  @include flex;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  transition: 0.2s ease-in-out;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }
}

/* -- Hidden checkbox for toggle like without JS -- */
.heart-checkbox {
  display: none;

  &:checked ~ label {
    @include heart-activation;
  }
}
