/* -- Loader Overlay -- */
.loader {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader-display 3s linear forwards;
}

/* -- Loader Spinner -- */
.loader-spinner {
  display: inline-block;
  width: 90px;
  height: 90px;
  position: relative;
  animation: loader-bounce 3s linear forwards;
}

/* -- Loader Spinner Out -- */
.loader-spinner:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid;
  border-color: #ff79da transparent #9356dc transparent;
  animation: loader-rotate 2s linear infinite;
}

/* -- Loader Spinner In -- */
.loader-spinner:before {
  content: '';
  display: block;
  position: absolute;
  width: 35%;
  height: 35%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 4px solid;
  border-color: transparent #99e2d0 transparent #99e2d0;
  animation: loader-rotate 2s linear infinite reverse;
}

/* -- Loader Rotate Animation -- */
@keyframes loader-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/* -- Loader Bounce Animation -- */
@keyframes loader-bounce {
  0% {
    transform: scale(0);
    animation-timing-function: cubic-bezier(0.49, 0.01, 0.52, 1.99);
  }
  10% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.83, -0.9, 0, 0.99);
  }
  95% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

/* -- Loader Overlay Display Animation -- */
@keyframes loader-display {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
