// -- Location banner --
.location {
  background-color: $greyMedium;
  @include flex;

  & h5 {
    position: relative;
    margin: 15px 0;
  }

  & i {
    position: absolute;
    left: -28px;
    top: 0;
  }
}

// -- Hero section --
.hero {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  margin: 0 auto;

  @include tablet-only {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    max-width: 1400px;
    padding: 0 5.3vw;

    .wrapper {
      padding: 0;
    }
  }

  & > .presentation {
    padding: 40px 0;
    text-align: center;
    background-color: $greyLight;

    @include tablet-only {
      @include flex;
      background-color: transparent;
      text-align: left;
      margin: auto;
    }

    & h2 {
      margin-bottom: 15px;
    }

    & p {
      margin-bottom: 30px;
    }
  }

  & > .functioning {
    padding: 50px 0;

    @include tablet-only {
      padding: 50px 8%;
    }

    & h2 {
      margin-bottom: 25px;

      @include tablet-only {
        text-align: center;
      }
    }

    & .functioning-step {
      position: relative;
      z-index: 1;
      @include flex(flex-start, center);
      height: 75px;
      margin-left: 12px;
      margin-bottom: 25px;
      border-radius: 20px;
      background-color: $greyLight;
      box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.18);
      cursor: default;

      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        background-color: #f5edff;
        box-shadow: 1px 4px 12px -1px rgba(0, 0, 0, 0.1);
        transition: 0.25s ease-in-out;
        opacity: 0;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
        & > i {
          color: $colorPrimary;
        }
      }

      &__number {
        @include flex;
        flex-shrink: 0;
        position: relative;
        left: -12px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        font-size: 0.8rem;
        line-height: 0;
        color: $white;
        background-color: $colorPrimary;
      }

      &__icon {
        @include flex;
        position: relative;
        font-size: 1.2rem;
        margin-left: 2%;
        color: $colorIcons;
        width: 30px;
        transition: 0.25s ease-in-out;
      }

      &__text {
        margin: 0 12% 0 5%;
      }
    }
  }
}

// -- Restaurants section --
.restaurants {
  padding: 50px 0;
  background-color: $greyLight;

  & h2 {
    margin-bottom: 24px;
  }

  &-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include tablet-only {
      grid-template-columns: 1fr 1fr;
    }
  }

  // -- Restaurant card --
  .restaurant-card {
    @include flex(center, center, column);
    position: relative;
    border-radius: 16px;
    box-shadow: 1px 3px 12px -2px rgba(0, 0, 0, 0.2);
    transition: 0.25s ease-in-out;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      box-shadow: 1px 3px 12px -2px rgba(0, 0, 0, 0.4);
      opacity: 0;
      transition: 0.25s ease-in-out;
    }

    @media (hover: hover) {
      &:hover {
        transform: translateZ(2px);
        &::before {
          opacity: 1;
        }
      }
    }

    &__img {
      position: relative;
      width: 100%;
      height: 175px;
      overflow: hidden;
      border-radius: 16px 16px 0 0;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }

      & > .img-align-center {
        object-position: 50% 62%;
      }

      & > span {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 6px 12px;
        font-size: 0.9rem;
        font-weight: 600;
        border-radius: 2px;
        background-color: $colorTertiary;
        color: darken($colorTertiary, 45%);
      }
    }

    &__desc {
      @include flex(space-between, center);
      width: 100%;
      padding: 17px 20px 17px 15px;
      border-radius: 0 0 16px 16px;
      background-color: $white;

      & h3 {
        padding-bottom: 4px;
      }
    }

    & > a {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 16px;
    }
  }
}
